body {
  font-family:'Kumbh Sans', sans-serif;
}

/* nav section styling */
.nav-images {
  position: relative;
}

.my-image {
  width: 10%;
  float: right;
  position: relative;
}

.my-cart {
  font-size: 1.5rem;
  float: right;
  position: relative;
  left: 415px;
  top: 10px;
}

.navbar-brand {
  font-weight: 700;
  font-size: 2rem;
  margin-right: 50px;
}

.navbar-block {
  padding: 1% 10%;
}

#navbar-section {
  margin-bottom: 200px;
}


/* main body styling */

.shoes-image {
  border-radius: 10px;
}

.main-shoes-image{
  width: 50%;
  margin-bottom: 4%;
  position: relative;
  left:200px;
  bottom: 50px;
}

.sub-shoes-image {
  width: 10%;
  margin: 1%;
  position: relative;
  left:200px;
  bottom: 50px;
}

.shoes-image:hover {
  border:hsl(26, 100%, 55%) 3px solid;
}

.complete-description-section {
  text-align: left;
  padding-left: 7%;
  padding-right: 7%;
}

h1 {
  font-weight: 700;
}

.company-name {
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  font-size: 0.8rem;
}

.product-description {
  color: hsl(219, 9%, 45%);
}

.add-to-cart-btn {
  background-color: hsl(26, 100%, 55%);
  color: white;
  padding-left: 8%;
  padding-right: 8%;
  width:50%;
  float: right;
  position: relative;
  right:23%;
  bottom:35px;
}

.increment {
  margin-left: 6%;
  color: hsl(26, 100%, 55%);
}
.increment:hover {
  color: black;
}

.decrement:hover{
  color: black;
}

.decrement {
  margin-right: 6%;
  color: hsl(26, 100%, 55%);
}

.shopping-cart-font {
  color: white;
  margin-right: 10%;
}

.button-increment-decrement-block {
  margin-top: 7%;
  position: relative;
}

.current-price {
  font-weight: 700;
  font-size: 1.5rem;
}

.percent-off {
  background-color: hsl(25, 100%, 94%);
  width:7%;
  border-radius: 7px;
  position: relative;
  float: right;
  right: 73%;
  bottom: 30px;
}

.initial-price {
  color: hsl(220, 14%, 75%);
  text-decoration: line-through;
}

.all-prices {
  position: relative;
}

.invisible {
  visibility: hidden;
}
